<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootscdn, bootsjs, jquerypopper, jqueryslim, jquery, expressStyle -->
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="display-4"><%= title %></h1>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-3"></div>
            <div class="col-3">
                <h3>Airline</h3>
                <h3>FlightNo</h3>
                <h3>Departure</h3>
            </div>
            <div class="col-3 details">
                <div><%= flight.airline %></div>
                <div><%= flight.flightNo %></div>
                <div><%= flight.departure %></div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row justify-content-center mt-5">
            <form action="/flights/<%= flight._id %>/destinations" method="POST">
                <select class="form-control" name="airport" id="airport">
                <%
                    function airports(allAirports){
                        return function(unavailableAirports){
                            for(let i = 0; i < allAirports.length; i++){
                                if(unavailableAirports.includes(allAirports[i]) === unavailableAirports.includes(unavailableAirports[i])){
                                }else{
                %>
                                    <option value="<%= allAirports[i] %>"><%= allAirports[i] %></option>
                <%                   
                                }                         
                            }
                        }
                    }
                %>
                <%
                    let allAirports = airports(['LAX','DEN','AUS','DFW','SAN'])
                    let unavailableAirports = [];
                    flight.destinations.forEach(function(d){
                        unavailableAirports.push(d.airport)
                    })
                    allAirports(unavailableAirports)
                %>
                </select>
                <input class="form-control mt-2" type="datetime-local" name="arrival" id="arrival">
                <button type="submit" class="btn btn-dark mt-2 width">Destination</button>
            </form>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-3"></div>
            <div class="col-6">
                <table class="table">
                    <thead>
                        <th>Destination</th>
                        <th>Arrival</th>
                    </thead>
                    <tbody>
                        <% 
                        const sortedDates = flight.destinations.sort((a,b) =>
                                a.arrival - b.arrival
                        )
                        sortedDates.forEach(function(d){ 
                        
                        %>
                            <tr>
                                <td><%= d.airport%></td>
                                <td><%= d.arrival%></td>
                               
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</body>
</html>