<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My Skill</h1>
    <% mySkills.forEach((skill, idx) => {%>
      <li>
        <form action="/skills/<%= idx %>?_method=DELETE"
          class="delete-form" method="POST">
          <button type="submit">X</button>
        </form>
        <a href="/skills/<%=idx%>"><%=skill.skill%></a>: <%= skill.skill %>
        - <strong>Level: </strong>
        <%= skill.intermediate %>
      </li>
    <% }) %>
    <br>
    <a href="/skills/new" class="newSkill" rel="noopener noreferrer">Add a new skill</a>
  </body>
</html>
